@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahoma/tahomabd.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/tahoma/tahoma.ttf");
  font-weight: 400;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

img,
iframe {
  max-width: 100%;
}

html {
  font-size: 20px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000;
  background-color: #fff;
}

a:hover {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h4, h5, h6 {
  font-weight: 700;
}

.fs-22 {
  font-size: 22px;
  line-height: 32px;
}

.fs-42 {
  font-size: 42px;
  line-height: 51px;
}

.overflow {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.title-section {
  color: #000;
  font-size: 42px;
  line-height: 51px;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title-section > img {
  width: 50px;
  margin-right: 25px;
}

.social-icon > a {
  margin-left: 30px;
}

.btn-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-blue {
  width: 226px;
  height: 60px;
  color: #fff;
  background-color: #1D7ABF;
}
.btn-blue > img {
  margin-left: 15px;
}

.header {
  padding: 15px 0 28px;
}
.header .logo {
  display: block;
  width: 194px;
}
.header__nav {
  position: relative;
  width: 100%;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 95px 0;
  background-color: #F6F6F6;
  border-top: 2px solid #C4C4C4;
  margin-top: 26px;
}
.menu__btn {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  padding: 0;
}
.menu__btn > span {
  display: inline-block;
  margin-left: 10px;
  width: 42px;
  height: 42px;
  background: url(../icons/btn-menu.svg) no-repeat center center/contain;
}
.menu__btn.open > span {
  background: url(../icons/close.svg) no-repeat center center/contain;
}
.menu__item {
  font-size: 22px;
  line-height: normal;
  width: 320px;
}
.menu__item li a {
  color: #000;
  display: block;
  padding: 20px 0;
}
.menu__item li a:hover {
  text-decoration: underline;
}
.menu__item > li > ul {
  font-size: 20px;
}
.menu__item > li > ul li a {
  color: #4A494F;
}

.language {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.language > li {
  margin-right: 10px;
}
.language__item {
  display: block;
  padding: 2px 8px;
  color: #000;
  border: 3px solid transparent;
}
.language__item.active {
  border-color: #000;
}

.search {
  position: relative;
  height: 60px;
  width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}
.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 267px;
  height: inherit;
  background-color: #E95B8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.search__btn > img {
  margin-right: 20px;
}
.search__input {
  position: absolute;
  top: 0;
  right: 100%;
  height: 60px;
  width: 0;
  border: 1px solid #4A494F;
  font-size: 20px;
  border-right: none;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  opacity: 0;
}
.search__input.open {
  width: 650px;
  padding: 0 22px;
  opacity: 1;
}

.about-project {
  padding-bottom: 100px;
}
.about-project__img {
  width: 100%;
  margin-bottom: 60px;
}
.about-project p {
  margin-bottom: 30px;
  color: #4A494F;
}
.about-project p:last-child {
  margin-bottom: 0;
}

.our-tasks {
  padding: 60px 0 85px;
  position: relative;
}
.our-tasks::before {
  content: '';
  background-color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 205px;
  z-index: -1;
}
.our-tasks__title {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 50px;
}
.our-tasks__card {
  background-color: #fff;
  padding: 36px 64px;
  -webkit-box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
  border-top: 11px solid #1D7ABF;
}
.our-tasks__card_border-pink {
  border-color: #E95B8B;
}
.our-tasks__img {
  width: 110px;
  margin: 0 auto 25px;
  padding-bottom: 25px;
  border-bottom: 3px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-block {
  padding-bottom: 75px;
}
.news-block__title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.news-block__img {
  width: 100%;
  height: 248px;
  position: relative;
  display: block;
  margin-bottom: 45px;
}
.news-block__img > img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.news-block__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.news-block__card {
  width: 100%;
  margin-bottom: 50px;
}
.news-block__text {
  padding: 0 16px;
}
.news-block__card_title {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
  min-height: 98px;
}
.news-block__date {
  margin-top: 20px;
  display: inline-block;
  color: #4A494F;
}

.footer {
  padding: 50px 0;
  background-color: #F6F6F6;
}
.footer p {
  font-size: 18px;
  line-height: 30px;
  color: #4A494F;
}
.footer__menu {
  line-height: 24px;
  margin-bottom: 64px;
}
.footer__menu-item {
  width: 310px;
}
.footer__menu-item li {
  margin-bottom: 28px;
}
.footer__menu-item li a {
  color: #000;
}
.footer__menu-item li > ul {
  padding-left: 18px;
  margin-top: 28px;
}
.footer__menu-item li > ul li a {
  color: #4A494F;
}
.footer__logo {
  width: 180px;
  display: block;
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1536px;
  }
}

/*# sourceMappingURL=main.css.map */