@font-face{
    font-family: "Tahoma";
    src : url("../fonts/tahoma/tahomabd.ttf");
    font-weight: 700;
}
@font-face{
    font-family: "Tahoma";
    src : url("../fonts/tahoma/tahoma.ttf");
    font-weight: 400;
}





