//font family
$font-family: 'Tahoma',sans-serif;
$second-fond: 'Roboto',sans-serif;

$fs: 20px;
$line-height: 34px;

//color 
$color-text: #000;
$white: #fff;
$ligth-gray: #F6F6F6;
$gray: #C4C4C4;
$dark-gray: #4A494F;
$pink: #E95B8B;
$blue: #1D7ABF;
$black: #000;
$grey-line :#E5E5E5;


@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transform ($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
}

@mixin transition ($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}

@mixin animate ($property) {
    animation: $property;
    -webkit-animation: $property;
}

html {
    font-size: $fs;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-family;
    font-weight: 400;
    font-size: $fs;
    line-height: $line-height;
    color: $color-text;
    background-color: $white;
}

a:hover{
	@include transition( .4s ease);
}


h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 700;
}
h4, h5, h6 {
    font-weight: 700;
}

.fs-22 {
    font-size: $fs + 2px;
    line-height: $line-height - 2px;
}

.fs-42 {
    font-size: $fs + 22px;
    line-height: $line-height + 17px;
}

.overflow {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.title-section {
    color: $black;
    font-size: $fs + 22px;
    line-height: $line-height + 17px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    >img {
        width: 50px;
        margin-right: 25px;
    }
}

.social-icon {
    >a {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
    }
}

%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: $fs;
    color: $white;
}

.btn-blue {
    @extend %btn;
    width: 226px;
    height: 60px;
    background-color: $blue;
    >img {
        margin-left: 15px;
    }
    &:hover {
        color: $white;
    }
}

.btn-pink {
    @extend %btn;
    width: 226px;
    height: 60px;
    background-color: $pink;
    >img {
        margin-left: 14px;
    }
    &:hover {
        color: $white;
    }
}




