@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1536px;
    }
}
@media only screen and (max-width: 991.8px) {
	.page-link span {
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	.pagination li a   {
		font-size: 15px;
		padding: .4rem .4rem;
	}
}