.map-list > li {
    border-bottom: 1px solid $grey-line;
    padding: 30px 0;
    text-align: center;

    a {
        font-size: $fs + 4px;
        line-height: $line-height - 5px;
        text-decoration: none;
        color: $black;
        cursor: pointer;
    }
}
.map-list li:first-child {
    border-top: 1px solid $grey-line;
}
.map-container {
    .row {
        justify-content: center;
    }
    .title-section {
        margin-bottom: 60px;
    }
}
.map-list {
    margin-bottom: 120px;
}
.map-list > li > ul > li {
    margin-top: 30px;

    a {
        color: $dark-gray;
        font-size: 22px;
    }
}
.map-list > li > ul > li:first-child {
    border: none;
}
