// .img-div > div{
//     position: relative;
//     height: 250px;
// }
.news-text-div{
    margin-top: 67px;
    .news-block__card_title{
        min-height: auto;
    }
    .news-block__btn{
        float: right;
        position: static;
        margin-top: 10px;
    }
}
.img-div{
    margin-top: 47px;
}
.prev,.next{
    min-height: 43px;
}
.btn-back{
    width: fit-content;
    padding: 13px 30px;
    background-color: $blue;
    color: $white;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 32px;
    img{
        margin-bottom: 4px;
        margin-right: 15px;
    }
}
.big-img{
    max-height: 444px;
    position: relative;
}
.open-news-title {
    strong{
    font-size: 32px;
    line-height: 46px;
    }
    padding-top: 105px;
}
.news-open .news-block__date{
display: block;
margin-top: 35px;
}
.article{
    font-size: 22px;
    line-height: 37px;
}
.article:first-child{
    margin-top: 80px;
    margin-bottom: 60px;
}
.article:last-child{
    margin-bottom: 120px;
}